//variables
$rose-madder: #DA2F3A;
$xiketic-dark: #020013;
$xiketic-light: #141321;
$opaquewhite: rgba(255, 255, 255, 0.3);
$large-header: 50px;
$medium-header: 40px;
$normal-text: 20px;
$small-text: 16px;

$standard-margin: 60px;
$medium-margin: 45px;

#nav {
    display: inline-block;
    position: sticky;
    top: 0;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-right: 15px;
    background-color: $xiketic-light;
    border-radius: 20px;
    #nav-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: fit-content;
        margin: 40px 40px;
        img {
            width: 90px;
            border-radius: 100%;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            margin-bottom: 3px;
        }

        #college {
            font-size: 15px;
            color: rgb(163, 159, 159);
            text-decoration: none;
            &:hover {
                color: $rose-madder;
            }
        }

        #social-links-container {
            display: flex;
            width: fit-content;
            height: fit-content;
            justify-content: start;
            align-items: center;
            img {
                height: 25px;
                width: 25px;
                border-radius: 0;
                margin-top: 15px;
                margin-bottom: 5px;
                margin-right: 15px;
                &#github-icon {
                    margin-top: 18px;
                }
            }
        }

        #nav-links-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            /* border: 1px solid $rose-madder; */
            width: 100%;
            margin-top: 20px;
            height: fit-content;

            .nav-link {
                margin-bottom:10px;
                a {
                    text-decoration: none;
                    font-size: 20px;
                }
                a:hover {
                    color: $rose-madder;
                }
            }

            .nav-link:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 60px;
    padding: 0;
    width: 100%;
    background-color: $xiketic-light;
    
    p {
        color: rgb(128, 127, 127);
        margin-bottom: 10px;
        a {
            text-decoration: none;
            &:hover{
                color: $rose-madder;
            }
        }
    }
}
.grid-item {
    background-color: $xiketic-light;
    border-radius: 20px;
    /* border: 1px solid white; */
}


//HOME PAGE DIVS 
#intro {
    grid-area: intro;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid purple;
    #intro-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid green;
        margin: $standard-margin $standard-margin;
        #intro-text {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            // border: 1px solid blue;
            max-width: 500px;
            h3 {
                font-size: 30px;
                // border: 1px solid blue;
                margin-bottom: 10px;
                color: rgb(170, 167, 167)
            }
    
            h5 {
                font-size: $large-header;
                // border: 1px solid blue;
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }
    
        #intro-image {
            // border: 1px solid red;
            img {
                width: 500px;
                @media (max-width: 1440px) {
                    width: 400px;
                }
            }
            
        }
    }  
    
}

#portfolio {
    grid-area: portfolio;

    #portfolio-wrapper {
        /* border: 1px solid $rose-madder; */
        display: flex;
        flex-direction: column;
        margin: $standard-margin $standard-margin;
        width: auto;
        //once the portfolio is populated, change the height to auto :)
        height: auto;

        h3 {
            font-size: $medium-header;
            margin-bottom: 30px;
            width: fit-content;
            border-bottom: 2px solid $rose-madder;
        }

        #project-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-gap: 15px;
            .project-card {
                /* background-color: $rose-madder; */
                /* border: 1px solid white; */
                width: auto;
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    text-decoration: none;
                    &:hover {
                        h2 {
                            color:$rose-madder;
                        }
                        #right-arrow {
                            color: $opaquewhite;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        margin-bottom: 10px;
                        border-radius: 20px;
                    }
                    h2 {
                        font-size: $normal-text;
                    }
                    #right-arrow {
                        color: $opaquewhite;
                    }
                    p {
                        font-size:$small-text;
                        margin-bottom: 20px;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }

    }
}

#skills {
    grid-area: skills;
    #skills-wrapper {
        /* border: 1px solid $rose-madder; */
        display: flex;
        flex-direction: column;
        margin: $medium-margin $standard-margin;
        width: auto;
        height: auto;

        h3 {
            font-size: $medium-header;
            margin-bottom: 20px;
            border-bottom: 2px solid $rose-madder;
            width: fit-content;
        }
        ul {
            li {
                list-style-type: none;
                font-size: $normal-text;
                margin-bottom: 15px;
            }
        }
    }
}
 
#softwares {
    grid-area: softwares;
    #softwares-wrapper {
        /* border: 1px solid $rose-madder; */
        display: flex;
        flex-direction: column;
        margin: $medium-margin $standard-margin;
        width: auto;
        height: auto;

        h3 {
            font-size: $medium-header;
            padding: 0px 0px 4px 0px;
            margin-bottom: 20px;
            border-bottom: 2px solid $rose-madder;
            width: fit-content;
        }
        ul {
            li {
                list-style-type: none;
                font-size: $normal-text;
                margin-bottom: 15px;
            }
        }
    }
}

#about {
    grid-area: about;
    #about-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: $medium-margin $standard-margin;
        height: auto;
        /* border: 1px solid blue; */
        #about-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            /* border: 1px solid blue; */
            max-width: 650px;
            h3 {
                font-size: $medium-header;
                margin-bottom: 20px;
                width: fit-content;
                border-bottom: 2px solid $rose-madder;
            }
            p {
                font-size: $small-text;
                margin-bottom: 20px;
                line-height: 160%;
            }
        }
    
        #about-image {
            margin-left: 50px;
            /* border: 1px solid red; */
            img {
                width: 300px;
                border-radius: 20px
            }
            
        }
    }
}

#contact {
    grid-area: contact;
}


//OTHER COMPONENTS
.button {
    text-decoration: none;
    background-color: $rose-madder;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    font-size: $normal-text;
    cursor: pointer;
    &:hover{
        background-color: white;
        color: $rose-madder;
    }
}

//for projectitem component, see the #project-grid above in the portfolio styling
