.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-container {
    display: flex;
    justify-content: center;
    // border: 1px solid white;
    margin: 0 100px;
    @media (max-width: 1024px) {
        margin: 0 5px;
    }
    max-width: 1440px;
    height: auto;
    background-color: transparent;
}

.nav-container {
    display: flex;
    width: fit-content;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-bottom: 30px;
}



//PAGES LAYOUT HERE
.homepage-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px auto auto auto 500px;
    grid-template-areas: 
        'intro intro'
        'portfolio portfolio'
        'skills softwares'
        'about about'
        'contact contact';
    row-gap: 15px;
    column-gap: 15px;
    width: 78%;
    /* border: 1px solid cyan; */
    margin-top: 30px;
    margin-bottom: 30px;
}